@import url(https://fonts.googleapis.com/css?family=Lusitana);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:900);
body {
  padding-top: 70px; }

.navbar-brand {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900;
  font-size: 26px; }

footer {
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: black;
  color: white; }
